@import '../helpers/variables.styl'
@import '../helpers/mixins.styl'

@import '../blocks/header/header.styl'
@import '../blocks/container/container.styl'
@import '../blocks/header-links/header-links.styl'
@import '../blocks/offer/offer.styl'
@import '../blocks/title/title.styl'
@import '../blocks/link-btn/link-btn.styl'
@import '../blocks/config/config.styl'
@import '../blocks/range-selector/range-selector.styl'
@import '../blocks/checkbox/checkbox.styl'
@import '../blocks/tariffs/tariffs.styl'
@import '../blocks/order-btn/order-btn.styl'
@import '../blocks/footer/footer.styl'
@import '../blocks/loader/loader.styl'







