.order-btn
    min-width 102px
    padding 6px 12px
    border 1px solid accent
    color accent
    border-radius 7px
    text-decoration none
    font-params(10px,24px, 0.0275em)
    transition background-color 0.3s ease

    &:hover
        background-color #B3D8FF
    &:active
        background-color #71B6FF