.link-btn
    text-decoration none
    padding 10px 14px
    border-radius 6px
    border none
    background-color accent
    color #fff
    font-family 'MuseoSans'
    font-params(10px, 24px, 0.0275em, 500)
    transition all 0.3s ease

    @media screen and (min-width : 768px)
        font-size 14px

.link-btn:hover
    background-color #71B6FF
.link-btn:active
    background-color #0971F5
.link-btn.disabled
    background-color #C8C8C8
